header{
    padding-top: 60px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header a:link{color: white;}
header a:hover{color: white;}
header a:visited{color: white;}
header a:active{color: white;}
.page-title{
    margin: 0 auto;
    padding-bottom: 50px;
    font-size: 45px;
    font-weight: bold;
    display: flex;
}
.page-title span{
    padding: 2.5px;
}
.page-title span:nth-child(1){
    color:#F2B705;
}
.page-title span:nth-child(2){
    color: #8372F2;
}
.page-title span:nth-child(3){
    color:#F28705;
}
.page-title span:nth-child(4){
    color:#614BF2;
}
.page-title span:nth-child(5){
    color:#BF0404;
}
.page-title span:nth-child(6){
    color:#F2B705;
}
.page-title span:nth-child(7){
    color:#8372F2;
}
.page-title span:nth-child(8){
    color:#F28705;
}
.page-title span:nth-child(9){
    color:#614BF2;
}
.page-title span:nth-child(10){
    color:#BF0404;
}
.page-title span:nth-child(11){
    color:#F2B705;
}
article{
    display: flex;
    flex-direction: row;
    align-items: center;
}
article span{
    color: white;
    background-color: #614BF2;
    font-size: 15px;
    font-weight: bold;
    padding: 0.2em 0.5em;
    padding-right: 0.5em;
    border-radius: 0.2em;
    border: 0;
    
}
input[type="search"] {
    background-color: #0D1618;
    color: #abacac;
    font-size: 0.825rem;
    padding: 0.5em 1em;
    padding-right: 0.75em;
    border-radius: 0.25em;
    border: 0;
    width: 15rem;
    transition: all 0.1s ease-in-out;
    box-shadow: 0 0 0 0 transparent;
    -webkit-appearance: none;
    appearance: none
}
input[type="search"]:hover {
    background-color: #0B1C23
}
input[type="search"]:focus {
    outline: 0;
    box-shadow: 0 0 0 0.15em #ea4c89;
    color: #e3e7e9;
    background-color: #0B1C23
}

input[type="search"]::-webkit-input-placeholder {
    color: #abacac
}
input[type="search"]::placeholder {
    color: #abacac
}
article form{
    display: flex;
    color: #e3e7e9;
    flex-direction: row;
    align-items: center;
}
.search{
    width: 20px;
    height: 20px;
    border:2px solid #e3e7e9;
    border-radius: 10px;
    background-color: #614BF2;
}
.search span{
    display: none;
    font-size: 0px;
}
.search:hover{
    transition: all 0.5s ease-in-out;
    width: 35px;
    height: 25px;
    border:2px solid #614BF2;
    border-radius: 10px;
    background-color: #e3e7e9;
}
.search:hover span{
    display: contents;
    font-size: 10px;
    color: #614BF2;
    transition: all 0.8s ease-in-out;
}